export PROJECT_ROOT=${PWD}
export TF_S3_BUCKET=123
export TF_S3_ENDPOINT=123
export TF_S3_REGION=auto
export TF_VAR_domain=123
export TF_VAR_hcloud_token=123
export TF_VAR_ssh_key_deployment_public=123
export TF_VAR_ssh_key_deployment_private=123